<!-- <mat-grid-list cols="4" rowHeight="fit" style="height: 100%;">
  <mat-grid-tile colspan="1">
    <div class="mat-elevation-z8" style="height: 100%; overflow: auto">
      <app-fsr-list [dataSource]="fsrList" (selectFsr)="onSelectFsr($event)"></app-fsr-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <app-fsr-header [fsrHeader]="fsrHeader"></app-fsr-header>
  </mat-grid-tile>
</mat-grid-list> -->


<div fxLayout='row' style="height: 100%;">

  <div fxFlex="20%">
    <div class="mat-elevation-z8" style="height: 100%; overflow: auto">
      <app-fsr-list [dataSource]="fsrList" (selectFsr)="onSelectFsr($event)"></app-fsr-list>
    </div>
  </div>

  <div fxFlex="80%" style="margin-left: 6px">
    <div class="mat-elevation-z8" style="height: 100%; overflow: auto">
      <app-fsr-header [fsrHeader]="fsrHeader"></app-fsr-header>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
      <p>123</p>
    </div>
  </div>

</div>