<div fxLayout='row' style="height: 100%">
  <div fxFlex="15">
    <div style="height: 40px">
      <button mat-raised-button color="primary" (click)="onRefreshList()">Refresh</button>
    </div>
    <div class="mat-elevation-z8" style="height: calc(100% - 40px); overflow: auto">
      <app-fsr-list [dataSource]="fsrList" (selectFsr)="onSelectFsr($event)"></app-fsr-list>
    </div>
  </div>

  <div fxFlex="85" style="padding-left: 6px">
    <div style="height: 40px; text-align: right">
      <button mat-raised-button color="primary" (click)="onRefreshList()">Save</button>
    </div>
    <div *ngIf="fsrData" class="mat-elevation-z8" style="height: calc(100% - 40px); overflow: auto;">
      <div style="padding: 6px">
        <app-fsr-header [fsrHeader]="fsrData.header"></app-fsr-header>
      </div>
    </div>
  </div>

</div>